

<footer class="ba-footer">
	<!-- BEGIN row column  -->
	<div class="row column cf">
		<!-- BEGIN ba-footer__info  -->
		<div class="ba-footer__info">
	    	<p>© Copyright 2017 | Developed by <a class="ba-footer__link" href="https://www.facebook.com/vika.kopeykina" target="_blank">Viktoriya Kopeykina</a>. All rights reserved</p>
		</div>
		<!-- END ba-footer__info -->
	    	<!-- BEGIN ba-socials  -->
					<div class="ba-socials">
						<a href="https://www.facebook.com/vika.kopeykina" target="_blank">
							<svg>
								<use xlink:href="#facebook"></use>
							</svg>
						</a>
						<a href="https://github.com/vikok" target="_blank">
							<svg><use xlink:href="#github"></use></svg>
						</a>
						<a href="#" target="_blank">
							<svg><use xlink:href="#google"></use></svg>
						</a>
						<a href="https://www.linkedin.com/in/viktoria-kopeykina/" target="_blank">
							<svg><use xlink:href="#linked"></use></svg>
						</a>
					</div>
					<!-- END ba-socials -->
	</div>
	<!-- END row column -->
</footer>
