<header class="ba-header">
	<div class="top-bar">
	<button class="toggle_menu">
		<span class="burger active">
		 <span class="band-burg band-burg-1"></span>
		 <span class="band-burg band-burg-2"></span>
		 <span class="band-burg band-burg-3"></span>
		</span>
	</button>
		<nav class="top-menu">
			<ul class="menu ">
			   <li><a href="index.html">Home</a></li>
			    <li><a href="#about">About</a></li>
			    <li><a href="#skills">Skills</a></li>
			    <li><a href="#works">Works</a></li>
			</ul>
		</nav>
	</div>
</header>

