<header class="ba-header">
		<div class="top-bar">
		    <span class="float-right" data-responsive-toggle="responsive-menu" data-hide-for="medium">
		      <button class="menu-icon white" type="button" data-toggle></button>
		    </span>
		  <div id="responsive-menu">
		    <div class="top-bar-right">
		      <ul class="ba-main-menu menu vertical medium-horizontal">
			      <li><a href="index.html">Home</a></li>
	              <li><a href="#about">About</a></li>
	              <li><a href="#skills">Skills</a></li>
	              <li><a href="#works">Works</a></li>
		      </ul>
		    </div>
		  </div>
</header>

